.block-card__container{
	&.hasFillers{}
	&.isGrid{}
	&:not(.isGrid){
		margin-left: $spacing*-0.5;
		margin-right: $spacing*-0.5;
	}
}
.block-card{ display: flex; margin-bottom: $spacing; font-size: 0.8em; line-height: 1.5;
    flex-grow: 1; 
    flex-shrink: 0;
    flex-basis: 30%; 
    max-width: 100%;
    min-width: 300px;
    @include media-max(xs){min-width: 200px;} 
    &:empty{margin: 0;padding: 0;border: 0;}
    .row>&,[class*=flex]>&{
    	margin-left: $spacing*0.5;
    	margin-right: $spacing*0.5;
    }
    .isGrid>&{
    	margin: 0;
    	&:empty{display: none;}
    }

    &[class*="content__bg--"] {
    	.block-card__wrapper{ z-index: 0;
			&:before{@include pseudo(); top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background: body(background);}
			&:after{@include pseudo(); top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background: body(block-background);}
    	}
	}
	&:not([class*="content__bg--"]){
		&:not([class*="ft-"]){color: contrastFW(body(font-color),body(block-background));}
	}
	@each $key, $value in $colors{
		&.content__bg--#{$key} {
			&:not([class*="ft-"]){color: contrastFW(body(font-color),$value);}
			.block-card__wrapper:after{background: $value;}
		}
	}
	@for $index from 0 through 10 {
		&.content__bg__opacity--#{$index}{
			.block-card__wrapper:after{opacity: $index*.1;}
		} 
	}

    // default style only
    &:not([data-preset]),
	&[data-preset=default]{
		.block-card__wrapper{@extend %paper !optional;}
		&:not([class*="content__bg--"]){
			.block-card__wrapper:after{background: body(block-background);}
		}
		.block-card__content{padding: 2.5em 2.5em 3em;}
		.block-card__headline,
		.block-card__footer{padding: .75em .85em;}
		.block-card__headline{margin-bottom: -2em;}
		.block-card__footer{margin-top: -2em;}
		.block-card__actions{margin-right: -1.15em; margin-left: -1.15em; margin-bottom: -2em;}
	}
	&[data-preset=thumbnail]{
		&:not([class*="ft-"]){color: contrastFW(body(font-color),body(block-background));}
		.block-card__content{position: absolute; top: 0; width: 100%; height: 100%; z-index: 2; align-items: center; justify-content: center; padding: 1.25em;}
		.block-card__text{flex-grow: 0; text-align: center;}
	}
	&[data-preset=inline]{
		min-width: 400px; flex-basis: 40%;
    	@include media-max(xs){min-width: 300px;} 
    	@include media-max(xxs){min-width: 250px;} 
    	.block-card__wrapper{flex-direction: row;}
    	&.img--natural{
    		.block-card__figure{width: auto;}
    		.block-card__content{padding-left: 1.25em; padding-top: 0;}
    	}
    	&[class*="content__bg--"]{
    		.block-card__content{padding: 2.5em 2.5em 3em;}
			.block-card__headline,
			.block-card__footer{padding: .75em .85em;}
			.block-card__headline{margin-bottom: -2em;}
			.block-card__footer{margin-top: -2em;}
			.block-card__actions{margin-right: -1.15em; margin-left: -1.15em; margin-bottom: -2em;}
    	}
	}
}
.block-card__wrapper{
	display: flex; 
	flex-direction: column; 
	text-decoration: none; 
	color: inherit; 
	position: relative; 
	width: 100%; 
	max-width: 100%; 
	padding: 0; 
	margin: 0; 
	outline: 0; 
	border: 0;
	overflow: hidden;
	&:hover,&:focus{color: inherit; text-decoration: none;}
	&>*{width: 100%;}
}
.block-card__figure{@extend %img-container,.r_4-3; margin: 0; flex-grow: 0; 
	.img--natural &{ 
		&:before{display: none;}
		img{object-fit: unset; position: relative; width: auto; height: auto;}
	}
	.img--cover &{}
	.img--contain &{
		img{object-fit: contain;}
	}
}
.block-card__content{ flex-grow: 1; display: flex; flex-direction: column; flex-wrap: wrap;
	.block-card__figure+&{ padding-top: 1.25em;}	
}
.block-card__title{ font-weight: 400;color: inherit; 
	@include lastChildNoMargin();
}
.block-card__text{ flex-grow: 1;color: inherit; 
	@include lastChildNoMargin();
	p{@extend .no-pbreak !optional;}
	.block-card[data-maxlines] &{ flex-grow: 0;
		ol, p, ul{margin-bottom: 1.5em;}
	}
	@for $index from 1 through 6 {
		.block-card[data-maxlines="#{$index}"] &{
			@include multi-ellipsis($font-size: 1em, $line-height: 1.5, $lines-to-show: $index);
		}
	}
}
.block-card__actions{text-align: right; margin-bottom: -3px; margin-top: 2em; }

.block-card__headline,
.block-card__footer{padding: .75em 0; font-size: 0.8em; opacity: 0.6; display: flex; align-items: center; justify-content: space-between;}
.block-card__headline{}
.block-card__footer{ flex-direction: row-reverse; }


// support for former components
.block-list 	   		{@extend .block-card !optional;}
.block-list__wrapper   	{@extend .block-card__wrapper !optional;}
.block-list__figure   	{@extend .block-card__figure !optional;}
.block-list__headline   {@extend .block-card__headline !optional;}
.block-list__content   	{@extend .block-card__content !optional;}
.block-list__title    	{@extend .block-card__title !optional;}
.block-list__text    	{@extend .block-card__text !optional;}
.block-list__footer   	{@extend .block-card__footer !optional;}